default: &default
  adapter: sqlserver
  host: ac2zqbfwum.database.windows.net
  username: erfrs-qa@ac2zqbfwum
  password: 1nv@l1dp@ssw0rd
  azure: true

development:
  <<: *default
  database: erfrs_development

test:
  <<: *default
  database: erfrs_test

production:
  <<: *default
  database: erfrs_staging
