.row.sp-table
  .col-md-12
    h4 Approval Information
    hr
  br
/ Take note the format must not be change
  
.row.sp-show
  .col-md-12
    h5 Barangay Office:
  .col-md-6.parent
    .form-group
      .col-md-4.bold
        'Requested By:
      .col-md-6.bold
        = f.select :requested_by_first, @subproject.barangay_team_members.map{ |e| [e.name, e.id] }, {include_blank: true}, class: "designation" 
    .form-group
      .col-md-4.bold
        'Designation:
      .col-md-6
        = f.text_field :designation_first, readonly: true
    .form-group
      .col-md-4.bold
        'Date:
      .col-md-6
        =f.text_field :date_first, placeholder: 'DD-MMM-YYYY', class: "validate[custom[dateFormat]]", value: @rfrs.date_first.present? ? @rfrs.date_first.strftime("%d-%b-%Y") : ''
  .col-md-6.parent
    .form-group
      .col-md-5.bold
        'Requested By:
      .col-md-6.bold
        = f.select :requested_by_second, @subproject.barangay_team_members.map{ |e| [e.name, e.id] }, {include_blank: true}, class: "designation" 
    .form-group
      .col-md-5.bold
        'Designation:
      .col-md-6
        =f.text_field :designation_second, readonly: true
    .form-group
      .col-md-5.bold
        'Date:
      .col-md-6
        =f.text_field :date_second, placeholder: 'DD-MMM-YYYY', class: "validate[custom[dateFormat]]", value: @rfrs.date_second.present? ? @rfrs.date_second.strftime("%d-%b-%Y") : ''

    
  .col-md-12
    h5 Municipality Office:
    .form-group
      .col-md-2.bold.text-right
        'Date Received:
      .col-md-3
        =f.text_field :date_received, placeholder: 'DD-MMM-YYYY', class: "validate[custom[dateFormat]]", value: @rfrs.date_received.present? ? @rfrs.date_received.strftime("%d-%b-%Y") : ''

  .col-md-6.parent
    .form-group
      .col-md-4.bold
        'Reviewed By:
      .col-md-6
        =f.select :reviewed_by_first, @subproject.municipal_team_members.map{ |e| [e.name, e.id] }, {include_blank: true}, class: "designation"
    .form-group
      .col-md-4.bold
        'Designation:
      .col-md-6
        =f.text_field :rev_designation_first, readonly: true
    .form-group
      .col-md-4.bold
        'Date:
      .col-md-6
        =f.text_field :rev_date_first, placeholder: 'DD-MMM-YYYY', class: "validate[custom[dateFormat]]", value: @rfrs.rev_date_first.present? ? @rfrs.rev_date_first.strftime("%d-%b-%Y") : ''

  .col-md-6.parent
    .form-group
      .col-md-5.bold
        'Reviewed By:
      .col-md-6
        =f.select :reviewed_by_second, @subproject.municipal_team_members.map{ |e| [e.name, e.id] }, {include_blank: true}, class: "designation"
    .form-group
      .col-md-5.bold
        'Designation:
      .col-md-6
        =f.text_field :rev_designation_second, readonly: true
    .form-group
      .col-md-5.bold
        'Date:
      .col-md-6
        =f.text_field :rev_date_second, placeholder: 'DD-MMM-YYYY', class: "validate[custom[dateFormat]]", value: @rfrs.rev_date_second.present? ? @rfrs.rev_date_second.strftime("%d-%b-%Y") : ''
              
/.row.sp-table
  /.col-md-12
    /h5 Sub-Region Project Management Office (SRPMO):
/.row.sp-show
  /.col-md-12
    /.form-group
      /.col-md-2.bold.text-right
        /'Date Received:
      /.col-md-3
        /=f.text_field :srpmo_date_received, placeholder: 'DD-MMM-YYYY', class: "validate[custom[dateFormat]]", value: @rfrs.srpmo_date_received.present? ? @rfrs.srpmo_date_received.strftime("%d-%b-%Y") : ''
        /=f.hidden_field :subproject_id, value: params[:sp_id] 
  /.col-md-6.parent
    /.form-group
      /.col-md-4.bold
        /'Reviewed By:
      /.col-md-6
        /=f.select :srpmo_reviewed_by, @team_member.all.map{ |e| [e.name, e.id] }, {include_blank: true}, class: "designation"
    /.form-group
      /.col-md-4.bold
        /'Designation:
      /.col-md-6
        /=f.text_field :srpmo_designation, readonly: true
    /.form-group
      /.col-md-4.bold
        /'Date:
      /.col-md-6
        /=f.text_field :srpmo_date, placeholder: 'DD-MMM-YYYY', class: "validate[custom[dateFormat]]", value: @rfrs.srpmo_date.present? ? @rfrs.srpmo_date.strftime("%d-%b-%Y") : ''
  /.col-md-6.parent
    /.form-group
      /.col-md-5.bold
        /'Recommended By:
      /.col-md-6
        /=f.select :srpmo_recommend_by, @team_member.all.map{ |e| [e.name, e.id] }, {include_blank: true}, class: "designation"
    /.form-group
      /.col-md-5.bold
        /'Designation:
      /.col-md-6
        /=f.text_field :srpmo_rec_designation, readonly: true
    /.form-group
      /.col-md-5.bold
        /'Date:
      /.col-md-6
        /=f.text_field :srpmo_rec_date, placeholder: 'DD-MMM-YYYY', class: "validate[custom[dateFormat]]", value: @rfrs.srpmo_rec_date.present? ? @rfrs.srpmo_rec_date.strftime("%d-%b-%Y") : ''

.row.sp-table
  .col-md-12
    h5 Regional Project Management Office (RPMO):
.row.sp-show
  .col-md-12
    .form-group
      .col-md-2.bold.text-right
        'Date Received:
      .col-md-3
        =f.text_field :rpmo_date_received, placeholder: 'DD-MMM-YYYY', class: "validate[custom[dateFormat]]", value: @rfrs.rpmo_date_received.present? ? @rfrs.rpmo_date_received.strftime("%d-%b-%Y") : ''

  
        
  .col-md-6.parent
    .form-group
      .col-md-4.bold
        'Reviewed By:
      .col-md-6
        =f.select :srpmo_reviewed_by, @subproject.regional_team_members.map{ |e| [e.name, e.id] }, {include_blank: true}, class: "designation"
    .form-group
      .col-md-4.bold
        'Designation:
      .col-md-6
        =f.text_field :srpmo_designation, readonly: true
    .form-group
      .col-md-4.bold
        'Date:
      .col-md-6
        =f.text_field :srpmo_date, placeholder: 'DD-MMM-YYYY', class: "validate[custom[dateFormat]]", value: @rfrs.srpmo_date.present? ? @rfrs.srpmo_date.strftime("%d-%b-%Y") : ''
  .col-md-6.parent
    .form-group
      .col-md-5.bold
        'Recommended By:
      .col-md-6
        =f.select :srpmo_recommend_by, @team_member.all.map{ |e| [e.name, e.id] }, {include_blank: true}, class: "designation"
    .form-group
      .col-md-5.bold
        'Designation:
      .col-md-6
        =f.text_field :srpmo_rec_designation, readonly: true
    .form-group
      .col-md-5.bold
        'Date:
      .col-md-6
        =f.text_field :srpmo_rec_date, placeholder: 'DD-MMM-YYYY', class: "validate[custom[dateFormat]]", value: @rfrs.srpmo_rec_date.present? ? @rfrs.srpmo_rec_date.strftime("%d-%b-%Y") : ''   

  .col-md-12.parent
    .form-group
      .col-md-2.bold.text-right
        'Approved By:
      .col-md-3
        =f.select :rpmo_approved_by, @subproject.regional_team_members.map{ |e| [e.name, e.id] }, {include_blank: true}, class: "designation" 
    .form-group
      .col-md-2.bold.text-right
        'Designation:
      .col-md-3
        =f.text_field :rpmo_designation, readonly: true
    .form-group
      .col-md-2.bold.text-right
        'Date:
      .col-md-3
        =f.text_field :rpmo_date, placeholder: 'DD-MMM-YYYY', class: "validate[custom[dateFormat]]", value: @rfrs.rpmo_date.present? ? @rfrs.rpmo_date.strftime("%d-%b-%Y") : ''      

css:
  .sp-show{
    padding-right: 0px;
  }

javascript:
  $("#request_for_fund_release_requested_by_first").change(function(){
    item_val = $(this).val();
    $.ajax({
      url: "/display_designation",
      data: {
        designation_first : item_val
      },
        dataType: "script"
    });
  });

  $(".designation").change(function(){
    item_val = $(this).val();
    class_position = $(this).closest('.parent').find('input[readonly="readonly"]').attr('id')

    $.ajax({
      url: "/display_designation",
      data: {
        team_member : item_val,
        designation_position : class_position
      },
        dataType: "script"
      });
  });
