$blue:                  #2980b9;
$light-blue:            lighten($blue, 30%);
$white:                 #eeeeee;
$white-gray:            #dddddd;
$gray:                  #aaaaaa;
$bg-light-gray:         #e8ecef;
$border-color:          #dde2e6;

// Theme color

$primary:               #34c9df;
