@import "colors";

body{
  padding-top: 70px;
  padding-bottom: 40px;
  background: $bg-light-gray;
}

.container{
  margin-top: 30px;
  padding: 1em 2em;
  min-height: 600px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid $border-color;
}

.clear-container{
  background: $bg-light-gray;
  border: none;
  min-height: 0;
}

.rfrs{
  margin-top: 10px;
  border: 1px solid $gray;

  .header{
    background: $light-blue;
    margin-bottom: 20px;
  }

  label{
    float: right;  
  }

  table{
    width: 100%;  
    thead th{ background: $light-blue; }
  }
}

.spip-search, .sp-search, .sp-show, .rfr-index, .admin-news{
  @extend .rfrs
}

