@import "colors";
@import "constants";

body{
  font-family: $open-sans;
  padding-top: 70px;
  padding-bottom: 40px;
  background: $bg-light-gray;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container{
  max-width: 3000px;
  margin-right: 53px;
  margin-left: 53px;
  padding: 1em 2em;
  min-height: 600px;
  background: #fff;
  border-radius: 4px;
  border-top-left-radius: 0px;
  border: 1px solid $border-color;
  border-top: none;
}

.clear-container{
  background: $bg-light-gray;
  border: none;
  min-height: 0;
}

.nav-tabs{
  font-family: $continuum;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 53px;
  margin-left: 53px;
}

table{
  th{
    font-family: $continuum;
    text-transform: uppercase;
    background: $primary;
    color: #fff;
    border: none !important;
    text-align: center;
  }

  td{
    font-size: 12px;  
  }
}

//.rfrs{
//  margin-top: 10px;
//  border: 1px solid $border-color;
//  border-radius: 4px;
//
//  .header{
//    background: $light-blue;
//    margin-bottom: 20px;
//  }
//
//  label{
//    float: right;  
//  }
//
//  table{
//    width: 100%;  
//    thead th{ background: $light-blue; }
//  }
//}
//
//.spip-search, .sp-search, .sp-table, .sp-show, .rfr-index, .admin-news{
//  @extend .rfrs
//}

