// Place all the styles related to the news_informations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.selected-news{
  background: #eee;
}

.news-image{
  max-height: 300px;
}

.image-news{
  margin-right: 12px;
  margin-top: 12px;
}

.news-header{
  margin-top: 12px;
}
