@import "colors";

.spip{
  margin-top: 10px;
  border: 1px solid $gray;

  .header{
    background: $light-blue;
    margin-bottom: 20px;
  }

  label{
    float: right;  
  }

  table{
    width: 100%;  
    thead th{ background: $light-blue; }
  }
}

.spip-search, .sp-search, .sp-show, .rfr-index{
  @extend .spip
}

.sp-show{
  padding-right: 80px;
  border: none;

  input, select, textarea{
    width: 100%;  
  }

}
