@import "colors";

.sp-index{
  margin-top: 10px;

  .header{
    padding: 9px;
    color: #fff;
    background: $primary;
    margin-bottom: 20px;
  }

  .search{ margin-bottom: 30px;}

  label{
    float: right;  
  }

  .btn.clear{ margin-left: 10px; }

  table{
    td:nth-child(1), td:nth-child(9), td:nth-child(10), td:nth-child(11){
      text-align: center;
      width: 70px;
    }
  }
}

.spip-index{
  @extend .spip
}


.sp-show{
  padding-right: 80px;
  border: none;

  input, select, textarea{
    width: 100%;  
  }

}
