@import "colors";

.spip-search{
  margin-top: 10px;
  border: 1px solid $gray;

  .header{
    background: $light-blue;
    margin-bottom: 20px;
  }

  label{
    float: right;  
  }

  table{
    width: 100%;  
    th{ background: $light-blue; }
  }
}
