@import 'colors';

.sp-search, .spip-search, .rfr-index{
  .clear{
    margin-left: 10px;  
  }
}

.sp-table{
  padding: 2em 1em;  

  table{
    border: 1px solid $border-color;  
  }

  table.financial{
    thead tr th{ text-align: center; }

    tbody td:nth-child(n+2){
      text-align: right;    
    }
  }
}
